@font-face {
    font-family: 'Akkurat';
    src: url('Akkurat.eot'); /* IE9 Compat Modes */
    src: url('Akkurat.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Akkurat.woff') format('woff'), /* Modern Browsers */
         url('Akkurat.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Akkurat.svg#Akkurat') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


@font-face {
    font-family: 'Akkurat';
    src: url('Akkurat-Bold.eot'); /* IE9 Compat Modes */
    src: url('Akkurat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Akkurat-Bold.woff') format('woff'), /* Modern Browsers */
         url('Akkurat-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Akkurat-Bold.svg#Akkurat-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

